# Entorno virtual
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Datos pesados (opcionales — quitar si querés versionar muestras)
notebook/unidad_II/datos/output/*

# IDEs
.vscode/
.idea/

# Sistema operativo
Thumbs.db
.DS_Store
